<div class="wrapper-detail">
  <div class="container-detail">
    <div class="title">
      <span>
        <h4><%= detailKuisioner.title %></h4>
      </span>
      <span class="date">
        <a href="" class="uploader"><%= detailKuisioner.username %></a>
         on <%= moment(detailKuisioner.created_at).format('LL') %>
         <% if (detailKuisioner.id_user != id_user) { %>
          <a></a>
        <% } else { %>
          <a href="/edit-kuisioner/<%= detailKuisioner.id_kuisioner %>"><i class="bi bi-pencil-square"></i></a>
        <% } %>
         
     </span>
    </div>
    <div class="post-body">
      <%- detailKuisioner.description %>
    </div>
  </div>
</div>