<div class="wrapper-detail">
  <div class="container-detail">
    <div class="title">
      <h4><%= detailPost.title %></h4>
      <span class="date"><a href="" class="uploader"><%= detailPost.username %></a> on <%= moment(detailPost.created_at).format('LL') %></span>
    </div>
    <div class="post-body">
      <%- detailPost.description %>
    </div>
    <div class="uploaded-file-wrapper">
      <div class="content">
        <i class="bi bi-file-earmark-text"></i>
        <span>
          <%
          var fileName = detailPost.uploaded_file;
          var result = fileName.substring(fileName.indexOf('-') + 1);
          %>
          <span class="filename"><%= result %></span>
          <span class="size"><%= fileSizeInKilobytes %></span>
        </span>
        <a href="/download/<%= detailPost.id_user %>/<%= detailPost.id_post %>">Download</a>
      </div>
    </div>
  </div>
</div>
