<form action="/post-edit-account" class="form-post" enctype="multipart/form-data" method="post">
  <h5>Edit Account</h5>
  <div class="mb-3 con-file">
    <label for="file-upload" style="border:0;">
      <% if (user.avatar) { %>
        <img src="./img/<%= user.avatar %>" id="avatar-preview" >
      <% } else { %>
        <img src="./img/user.png" id="avatar-preview" >
      <% } %>
    </label>
    <span class="con-file">
      <input onchange="displayFileName()" onchange="displaySelectedAvatar()" name="avatar" type="file" id="file-input" class="<%= errorAccount ? 'form-control is-invalid' : 'form-control' %>" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
      <div id="validationServerUsernameFeedback" class="invalid-feedback">
        <%= errorAccount ? errorAccount : '' %>
      </div>
     <label for="file-input" id="fileLabel">Choose file</label>
     <%
      var fileName = user.avatar;
      var result = fileName ? fileName.substring(fileName.indexOf('-') + 1) : null;
    %>
     <input type="text" id="selectedFileName" value="<%= result %>" style="width:200px;" readonly>
    </span>

</div>
<div class="mb-3 w-25">
  <input type="text" class="excerpt" name="username" value="<%= user.username %>" placeholder="username">
</div>
  <div class="mb-3">
    <textarea id="myTextarea" name="about"  rows="4" placeholder="Describe your self.."><%= user.about %></textarea>
  </div>
  <div class="mb-3 w-25">
    <input type="text" class="excerpt" name="nim" value="<%= user.nim %>" placeholder="Nomor Induk Mahasiswa">
  </div>
  <div class="mt-3 con-btn">
    <a href="/account" class="btn-cancel">Cancel</a>
    <button type="submit" class="btn-publish">Save</button>
  </div>
</form>




<script>

    function displayFileName() {
  const fileInput = document.getElementById("uploadBtn");
  const fileLabel = document.getElementById("fileLabel");
  const selectedFileName = document.getElementById("selectedFileName");

  if (fileInput.files.length > 0) {
    selectedFileName.textContent =  fileInput.files[0].name;
  } else {
    selectedFileName.textContent = "";
  }
}
  function updateFileName(input) {
      const fileLabel = document.getElementById("fileLabel");
      const selectedFileName = document.getElementById("selectedFileName");
  
      if (input.files.length > 0) {
          // Update the selected file name
          selectedFileName.value = input.files[0].name;
      } else {
          // Reset the file name if no file is selected
          selectedFileName.value = "";
      }
  }

  //  preview avatar di profil
  const fileUpAv = document.getElementById('file-upload-avatar');
    const avatar = document.getElementById('avatar-preview');
  
    fileUpAv.addEventListener('change', (event) => {
      const file = event.target.files[0];
      const reader = new FileReader();
  
      reader.onload = (e) => {
        avatar.src = e.target.result;
      };
  
      reader.readAsDataURL(file);
    });

  </script>



